
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmax.cshtml";
}

<h2>在线全自动考试</h2>

<div class="account">
    <img src="~/imgaes/timg.jpg"  alt="" width="740" height="350" />
</div>

