
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutEmax.cshtml";
}

<h2>学生注册</h2>

<form action="/Students/Create" method="post">
    <input name="__RequestVerificationToken" type="hidden" value="ejdFdwHJYTs_eMXleqzKpRvm0oLo2YjMxAKdZSPvIAO-km5C7oyBWWD8FsxrxHmhmq_KpVjGsT5g14kTc2qcQdzrnR3YMnDPO2rVZbYu8y01" />    <div class="form-horizontal">
        <h4>学生信息</h4>
        <hr />
        <div class="validation-summary-errors text-danger">
            <ul>
                <li style="display:none"></li>
            </ul>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="StuName">姓名</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-required="姓名是必填项" id="StuName" name="StuName" type="text" value="" />
               @Html.ValidationMessage("StuName")
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="StuLoginName">登录名</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-required="登录名是必填项" id="StuLoginName" name="StuLoginName" type="text" value="" />
                @Html.ValidationMessage("StuLoginName")
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="StuLoginPwd">密码</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-required="密码是必填项" id="StuLoginPwd" name="StuLoginPwd" type="password" value="" />
                @Html.ValidationMessage("StuLoginPwd")
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="StuSex">性别</label>
            <div class="col-md-10">
                <div class="checkbox">
                    <input checked="checked" data-val="true" data-val-required="性别是必填项" id="StuSex" name="StuSex" type="radio" value="True" /> 男  <input id="StuSex" name="StuSex" type="radio" value="False" /> 女
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="StuPhone">电话</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="StuPhone" name="StuPhone" type="text" value="" />
               
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="StuEmail">Email</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="StuEmail" name="StuEmail" type="text" value="" />
               
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="StuGrade">班级</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="StuGrade" name="StuGrade" type="text" value="" />
               
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=" 保存 " class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a href="/Students">返回学生列表</a>
</div>

