
@{
    ViewBag.Title = "MyAnswer";
    Layout = "~/Views/Shared/_LayoutEmax.cshtml";
    Student stu = Session["user"] as Student;
}
@using Account.Models
@model List<Answer>
<h2>我的考试 </h2>
<table class="table">
    <tr>
        <th>学生姓名</th>
        <th>试卷</th>
        <th>批卷</th>
        <th>分数</th>
        <th>操作</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Student.StuName</td>
            <td>@item.Paper.PaperName</td>
            <td>
                @if (item.AnswerState == 0)
                {
                    @:答题中
                }
                else if (item.AnswerState == 1)
                {
                    @:未批卷
                }
                else if (item.AnswerState == 2)
                {
                    @:已批卷
                }
            </td>
            <td> @item.AnswerScore</td>
            <td>
                @if (item.AnswerState == 2)
                {
                    <a href="/Answers/MyAnswerDetail/@item.AnswerID">查看详细</a>
                }
                else if (item.AnswerState == 0)
                {                
                    <a href="/Answers/AnswersDetail?ParerID=@item.PaperID&&StuID=@item.Student.StuID">继续答题</a>
                }
            </td>
        </tr>
    }
</table>

