
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutEmax.cshtml";
}
@using Account.Models
@model Paper
<form action="/Papers/Edit/1" method="post">
    <input name="__RequestVerificationToken" type="hidden" value="RPxJut9MKoJk-_bxehhxh0Fpw6wTc5TGxN1b2Tn0xby6Km_LkpNTCAdh8-fJlz3e81VIBPvhwTGULUrATrcPsiAfhOdGww_-Ea7lQUys3zg1" />    <div class="form-horizontal">
        <h4>试卷信息</h4>
        <hr />

        <input data-val="true" data-val-number="字段 PaperID 必须是一个数字。" data-val-required="PaperID 字段是必需的。" id="PaperID" name="PaperID" type="hidden" value="@Model.PaperID" />

        <div class="form-group">
            <label class="control-label col-md-2" for="PaperName">试卷名</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-required="试卷名是必填项" id="PaperName" name="PaperName" type="text" value="@Model.PaperName" />
                <span class="field-validation-valid text-danger" data-valmsg-for="PaperName" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="PaperExplain">试卷说明</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-required="试卷说明是必填项" id="PaperExplain" name="PaperExplain" type="text" value="@Model.PaperExplain" />
                <span class="field-validation-valid text-danger" data-valmsg-for="PaperExplain" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="PaperTime">试卷时长</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-number="字段 试卷时长 必须是一个数字。" data-val-required="试卷时长是必填项" id="PaperTime" name="PaperTime" type="number" value="@Model.PaperTime" />
                <span class="field-validation-valid text-danger" data-valmsg-for="PaperTime" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=" 保存 " class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a href="/Papers">返回试卷列表</a>
</div>

