
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmax.cshtml";
}

<h2>试卷列表</h2>
@using Account.Models
@model List<Paper>
<p>
    <a href="/Papers/Create">添加新试卷</a>
</p>
<table class="table">
    <tr>
        <th>
            试卷名
        </th>
        <th>
            试卷说明
        </th>
        <th>
            试卷时长
        </th>
        <th>操作</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
               @item.PaperName
            </td>
            <td>
                @item.PaperExplain
            </td>
            <td>
                @item.PaperTime
            </td>
            <td>
                <a href="/Topics/Create?PaperID=@item.PaperID">添加考题</a> |
                <a href="/Papers/Edit/@item.PaperID">编辑</a> |
                <a href="/Papers/Details/@item.PaperID">详情</a> |
                <a href="/Papers/Delete/@item.PaperID" onclick="return confirm('您确认要删除 @item.PaperName 的这份试卷的信息吗？')">删除</a>
            </td>
        </tr>
    }
 </table>


