
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AC</title>
    <link href="~/css/orther.css" rel="stylesheet" />
    <script src="~/js/jquery-1.7.min.js"></script>
    <script src="~/js/zhonglin.js"></script>
    <script src="~/js/zhongling2.js"></script>
    <style>
    </style>
</head>
<body>
    <div>
        <div class="confirmation-tanchuang" xgdz1="">
            <div class="tanchuang-bg"></div>
            <div class="tanchuang-con">
                <div class="tc-title">
                    <h3>新增地址</h3>
                    <a href="JavaScript:;" dz-guan=""><img src="images/close-select-city.gif" /></a>
                    <div style="clear:both;"></div>
                </div>
                <ul class="tc-con2">
                    <li class="tc-li1">
                        <p class="l-p">所在地区<span>*</span></p>
                        <div class="xl-dz">
                            <div class="dz-left f-l">
                                <p>新疆</p>
                                <ul>
                                    <li class="current"><a href="#">新疆</a></li>
                                    <li><a href="#">甘肃</a></li>
                                    <li><a href="#">宁夏</a></li>
                                    <li><a href="#">青海</a></li>
                                    <li><a href="#">重庆</a></li>
                                    <li><a href="#">长寿</a></li>
                                </ul>
                            </div>
                            <div class="dz-right f-l">
                                <p>乌鲁木齐</p>
                                <ul>
                                    <li class="current"><a href="#">乌鲁木齐</a></li>
                                    <li><a href="#">昌吉</a></li>
                                    <li><a href="#">巴音</a></li>
                                    <li><a href="#">郭楞</a></li>
                                    <li><a href="#">伊犁</a></li>
                                    <li><a href="#">阿克苏</a></li>
                                    <li><a href="#">喀什</a></li>
                                    <li><a href="#">哈密</a></li>
                                    <li><a href="#">克拉玛依</a></li>
                                    <li><a href="#">博尔塔拉</a></li>
                                    <li><a href="#">吐鲁番</a></li>
                                    <li><a href="#">和田</a></li>
                                    <li><a href="#">石河子</a></li>
                                    <li><a href="#">克孜勒苏</a></li>
                                    <li><a href="#">阿拉尔</a></li>
                                    <li><a href="#">五家渠</a></li>
                                    <li><a href="#">图木舒克</a></li>
                                    <li><a href="#">库尔勒</a></li>
                                    <div style="clear:both;"></div>
                                </ul>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div style="clear:both;"></div>
                    </li>
                    <li class="tc-li1">
                        <p class="l-p">详细地址<span>*</span></p>
                        <textarea class="textarea1" placeholder="请如实填写您的详细信息，如街道名称、门牌号、楼层号和房间号。"></textarea>
                        <div style="clear:both;"></div>
                    </li>
                    <li class="tc-li1">
                        <p class="l-p">邮政编码<span></span></p>
                        <input type="text" />
                        <div style="clear:both;"></div>
                    </li>
                    <li class="tc-li1">
                        <p class="l-p">收货人姓名<span>*</span></p>
                        <input type="text" />
                        <div style="clear:both;"></div>
                    </li>
                    <li class="tc-li1">
                        <p class="l-p">联系电话<span>*</span></p>
                        <input type="text" />
                        <div style="clear:both;"></div>
                    </li>
                </ul>
                <button class="btn-pst2">保存</button>
            </div>
        </div>

        <div class="pay-info">
            <div class="info-tit">
                <h3>选择收货地址</h3>
            </div>
            <ul class="pay-dz">
                <li class="current">
                    <h3><span class="sp1">重庆</span><span class="sp2">南岸区</span>（<span class="sp3">赵珍珍</span> 收）</h3>
                    <p><span class="sp1">南岸南坪南岸区南坪福红路19号乙单元7-2</span><span class="sp2">18983945092</span></p>
                    <a href="JavaScript:;" xiugai="">修改</a>
                </li>
                <li>
                    <h3><span class="sp1">长寿</span><span class="sp2">长寿湖</span>（<span class="sp3">赵珍珍2</span> 收）</h3>
                    <p><span class="sp1">长寿长寿南坪福红路19号乙单元8-8</span><span class="sp2">18888888888</span></p>
                    <a href="JavaScript:;" xiugai="">修改</a>
                </li>
                <li>
                    <h3><span class="sp1">李家沱</span><span class="sp2">土桥</span>（<span class="sp3">赵珍2</span> 收）</h3>
                    <p><span class="sp1">李家沱土桥南坪福红路19号华盛顿乙单元8-8</span><span class="sp2">19999999999</span></p>
                    <a href="JavaScript:;" xiugai="">修改</a>
                </li>
                <div style="clear:both;"></div>
            </ul>
            <P class="pay-xgdz">修改地址和使用新地址样式一样。</P>
            <button class="pay-xdz-btn">使用新地址</button>
        </div>
    </div>
</body>
</html>
