
@{
    ViewBag.Title = "商品列表";
}

    <div class="w1200">
        <div class="position"><a href="#">首页</a> > <a href="#">家居家访</a></div>

        <div class="c_nav">
            <div class="item">
                <span>家访：</span><p><a href="#">床品套件</a><a href="#">被子</a><a href="#">毛巾浴巾</a><a href="#">电热毯</a><a href="#">毯子</a><a href="#">枕头</a><a href="#">床垫/被褥</a><a href="#">抱枕靠垫</a><a href="#">窗帘面纱</a><a href="#">布艺软饰</a><a href="#">被单被罩</a></p><div class="clear"></div>
            </div>
            <div class="item">
                <span>生活用品：</span><p><a href="#">收纳箱</a><a href="#">收纳袋/罩</a><a href="#">收纳柜</a><a href="#">厨房收纳</a><a href="#">雨伞雨具</a><a href="#">浴室用品</a><a href="#">净化除味</a><a href="#">缝纫/针织</a></p><div class="clear"></div>
            </div>
            <div class="item">
                <span>家具：</span><p><a href="#">床</a><a href="#">床垫</a><a href="#">床头柜</a><a href="#">衣柜</a><a href="#">简易衣柜</a><a href="#">梳妆台</a><a href="#">餐桌</a><a href="#">餐椅</a><a href="#">餐边柜</a><a href="#">沙发</a><a href="#">沙发床</a><a href="#">电视柜</a><a href="#">鞋柜</a><a href="#">休闲椅凳</a><a href="#">电脑椅</a><a href="#">书柜书架</a><a href="#">户外家具</a><a href="#">折叠床</a><a href="#">办公桌</a><a href="#">文件柜</a><a href="#">会议桌</a><a href="#">办公沙发 </a></p><div class="clear"></div>
            </div>
            <div class="item">
                <span>价格：</span><p>
                    <a href="#">0-99</a><a href="#">100-299</a><a href="#">300-499</a><a href="#">500-799</a><a href="#">800-999</a><a href="#">1000-1499</a><a href="#">1500-1999</a><a href="#">2000-4999</a><a href="#">5000-9999</a><a href="#">10000以上</a>
                    <input type="text" class="txt" /><span>-</span><input type="text" class="txt" /><input type="submit" value="" class="sub" />
                </p><div class="clear"></div>
            </div>
        </div>

        <div class="order">
            <a href="#" class="cur">综合排序</a><a href="#">销量</a><a href="#">价格</a><a href="#">评论数</a><span><font>共1889件商品  <strong><b>1</b>/50</strong></font><a href="#">></a><a href="#"><</a></span>
            <div class="clear"></div>
        </div>

        <div class="pro_cont">
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item last">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item last">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item last">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item last">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>
            <div class="item last">
                <dl>
                    <dt><img src="~/images/img/img39.jpg" /></dt>
                    <dd>
                        <img class="on" src="~/images/img/img39.jpg" /><img src="~/images/img/img40.jpg" /><img src="~/images/img/img39.jpg" />
                    </dd>
                </dl>
                <p class="p01"><font>￥</font>1599.00</font></p>
                <p class="p02"><a href="#">进口天然乳胶床垫弹簧1.51.8米双人软硬席梦思 椰梦维棕垫</a></p>
                <p class="p03"><span class="sp01">月销量：<b>4523</b></span><span>评价：<strong>3958</strong></span></p>
            </div>

            <div class="clear"></div>
        </div>


        <div class="page">
            <a href="#" class="pre"><上一页</a>
            <a href="#" class="on">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <span>...</span>
            <a href="#" class="next">下一页></a>
            共50页 到第<input type="text" value="1" />页  <a href="#" class="sub">确定</a>
        </div>
