
@{
    ViewBag.Title = "订单信息";
}

    <div class="w1200">
        <div class="position"><a href="#">首页</a> > <a href="#">购物车</a></div>

        <div class="shopcar">
            <div class="info_lc"><span class="sp01">我的购物车</span><span class="sp02">填写提交信息表单</span><span class="sp03">在线支付</span></div>
            
            <dl class="info">
                <dt><span>确认收货地址</span></dt>
                <div class="pay-info">
                    <div class="info-tit">
                       
                    </div>
                    <ul class="pay-dz">
                        <li class="current">
                            <h3><span class="sp1">重庆</span><span class="sp2">南岸区</span>（<span class="sp3">赵珍珍</span> 收）</h3>
                            <p><span class="sp1">南岸南坪南岸区南坪福红路19号乙单元7-2</span><span class="sp2">18983945092</span></p>
                            <a href="JavaScript:;" xiugai="">修改</a>
                        </li>
                        <li>
                            <h3><span class="sp1">长寿</span><span class="sp2">长寿湖</span>（<span class="sp3">赵珍珍2</span> 收）</h3>
                            <p><span class="sp1">长寿长寿南坪福红路19号乙单元8-8</span><span class="sp2">18888888888</span></p>
                            <a href="JavaScript:;" xiugai="">修改</a>
                        </li>
                        <li>
                            <h3><span class="sp1">李家沱</span><span class="sp2">土桥</span>（<span class="sp3">赵珍2</span> 收）</h3>
                            <p><span class="sp1">李家沱土桥南坪福红路19号华盛顿乙单元8-8</span><span class="sp2">19999999999</span></p>
                            <a href="JavaScript:;" xiugai="">修改</a>
                        </li>
                        <div style="clear:both;"></div>
                    </ul>
                    <P class="pay-xgdz">修改地址和使用新地址样式一样。</P>
                    <button class="pay-xdz-btn">使用新地址</button>
                </div>
            </dl>

            <dl>
                <dt><span>确认订单信息</span></dt>
                <dd>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr class="tr_t">
                            <td width="2%">&nbsp;</td>
                            <td width="48%">商品</td>
                            <td width="25%">单价</td>
                            <td width="13%">数量</td>
                            <td width="12%">小计</td>
                        </tr>
                        <tr class="tr_c">
                            <td>&nbsp;</td>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="15%"><img src="~/images/ico23.jpg" /></td>
                                        <td width="85%"><a href="#" class="title">头层牛皮真皮沙发 客厅家具 FPSF0814 进口中厚皮 双人位+单人位+贵妃位</a></td>
                                    </tr>
                                </table>
                            </td>
                            <td class="price">￥3083.00</td>
                            <td>1</td>
                            <td class="price">￥3083.00</td>
                        </tr>
                        <tr class="tr_d">
                            <td colspan="7">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="3%">&nbsp;</td>
                                        <td width="6%">买家留言：</td>
                                        <td width="75%"><input type="text" value="" class="msg" /></td>
                                        <td width="6%">应付金额：</td>
                                        <td width="10%" class="all_price"><font>￥3083.00</font></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="clear"></div>

                </dd>
            </dl>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="go_tb">
                <tr>
                    <td width="20%"><a href="#" class="go_buy">继续购物</a></td>
                    <td width="63%">&nbsp;</td>
                    <td width="17%" align="right"><a href="#" class="code">结 算</a></td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>

