
@{
    ViewBag.Title = "在线支付";
}

    <div class="w1200">
        <div class="position"><a href="#">首页</a> > <a href="#">会员中心</a> > <a href="#">个人资料</a></div>

        <div class="payply">
            <div class="pay_lc"><span class="sp01">我的购物车</span><span class="sp02">填写提交信息表单</span><span class="sp03">在线支付</span></div>
            <div class="pay_w"><img src="~/images/ico13.jpg" /><p>订单已提交成功，订单号YYC20150920175695，请您尽快完成付款！<br />应付款：<font>3083.00元</font></p></div>
            <dl>
                <dt><span>请选择您的支付方式</span></dt>
                <dd>
                    <div class="title"><input type="radio" value="" checked="checked" />在线支付</div>
                    <div class="card">
                        <p>银行或第三方支付机构</p>
                        <ul>
                            <li><input type="radio" value="" checked="checked" name="pay" id="zfb" /><label for="zfb"><img src="~/images/ico15.jpg" /></label></li>
                            <li><input type="radio" value="" name="pay" id="gs" /><label for="gs"><img src="~/images/ico14.jpg" /></label></li>
                            <li><input type="radio" value="" name="pay" id="wx" /><label for="wx"><img src="~/images/ico16.jpg" /></label></li>
                            <li><input type="radio" value="" name="pay" id="ny" /><label for="ny"><img src="~/images/ico17.jpg" /></label></li>
                            <li><input type="radio" value="" name="pay" id="zg" /><label for="zg"><img src="~/images/ico18.jpg" /></label></li>
                            <li><input type="radio" value="" name="pay" id="js" /><label for="js"><img src="~/images/ico19.jpg" /></label></li>
                            <li><input type="radio" value="" name="pay" id="xy" /><label for="xy"><img src="~/images/ico20.jpg" /></label></li>
                            <li><input type="radio" value="" name="pay" id="zs" /><label for="zs"><img src="~/images/ico21.jpg" /></label></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="title"><input type="radio" value="" />货到付款</div>
                </dd>
            </dl>
            <div class="clear"></div>
        </div>

